{% extends "app/base.html" %}

{% block content %}


<div>
  <a href="{% url 'vote-on-quotes-create-vote-pair' %}">
    Cast a vote!
  </a>
</div>

<div>
  <a href="{% url 'mostwins-list' %}">
    Overall top quotes
  </a>
</div>

<div>
  <a href="{% url 'my-mostwins-list' %}">
    My top quotes
  </a>
</div>


<h1>Quotes</h1>

<div>
  <a href="{% url 'quote-list' %}">
    List Quotes
  </a>
</div>

<div>
  <a href="{% url 'vote-on-quotes-create' %}">
    Create a vote
  </a>
</div>

<div>
  <a href="{% url 'vote-on-quotes-create-vote-pair' %}">
    Get pair to vote on
  </a>
</div>


<h1>Votes on Quotes</h1>
<div>
  <a href="{% url 'vote-on-quotes-list' %}">
    List Votes on Quotes
  </a>

<form action="{% url 'accounts:login' %}" method="get">
  <button type="submit">Log in</button>
</form>


<form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% endblock %}
