{% extends "app/base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <form method="post" name="winner" value="{{object.quote_1}}">
        {% csrf_token %}
        <input type="submit" value="Vote">
    </form>
    {{ object.quote_1.text }}
  </div>


  <div class="col-md-6">
    <form method="post" name="winner" value="{{object.quote_2}}">
        {% csrf_token %}
        <input type="submit" value="Vote">
    </form>
    {{ object.quote_2.text }}
  </div>
</div>

<a href="{% url 'home' %}">
  Home
</a>

{% endblock %}
