{% extends "app/base.html" %}

{% block content %}
<h1>Votes on Quotes</h1>

<a href="{% url 'quote-create' %}">
  Create
</a>

{% for vote_on_quotes in object_list %}
<div class="row">
  <div class="row">
    <a href="{% url 'vote-on-quotes-detail' vote_on_quotes.id %}">
      {{ vote_on_quotes.id }}:
    </a>
    <div class="col">
      {{ vote_on_quotes.quote_1 }}
    </div>
    <div class="col">
      {{ vote_on_quotes.quote_2 }}
    </div>
  </div>
  <div class="row">
    Winner: {{ vote_on_quotes.winner }}
  </div>
  <div class="row">
    User: {{ vote_on_quotes.user }}
  </div>
</div>
{% empty %}
    <li>No votes yet.</li>
{% endfor %}

{% endblock %}
